$bp-small: 320px !default;
$bp-medium: 480px !default;
$bp-medium-mid: 768px !default;
$bp-medium-high: 992px !default;
$bp-large: 1200px !default;

// BREAKPOINTS
// small: 320px -> 20em
// medium: 480px -> 30em
// medium-mid: 768px -> 48em
// medium-high: 992px -> 62em
// large: 1200px -> 75em

$small-only: '(max-width: 30em)' !default;
$medium: '(min-width: 30em)' !default;
$medium-low-only: '(min-width: 30em) and (max-width: 48em)' !default;
$under-medium-mid-only: '(max-width: 48em)' !default;
$medium-mid: '(min-width: 48em)' !default;
$medium-mid-only: '(min-width: 48em) and (max-width: 62em)' !default;
$medium-high: '(min-width: 62em)' !default;
$medium-high-only: '(min-width: 62em) and (max-width: 75em)' !default;
$under-medium-high-only: '(max-width: 62em)' !default;
$medium-low-and-mid-only: '(min-width: 30em) and (max-width: 62em)' !default;
$medium-mid-and-high-only: '(min-width: 48em) and (max-width: 75em)' !default;
$medium-only: '(min-width: 30em) and (max-width: 75em)' !default;
$under-large-only: '(max-width: 75em)' !default;
$large: '(min-width: 75em)' !default;